@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #f3ebe9;
    margin: 30px;
    color: #212121;
    font-family: "Raleway";
}
h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    margin: 15px 0 0 100px;
    font-size: 20px;
}
input[type="text"] {
    padding: 10px;
    margin: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 20%;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.image-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 430px 3fr 430px;
    background-color: #fbfbfd;
    justify-items: center;
}
.image-box {
    display: flex;
    flex-direction: row;
    border: 2px solid #f99e9e;
    height: 400px;
    width: 300px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
h4 {
    color: rgb(68, 64, 64);
}
.btn {
    background-color: #f99e9e;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

/* palete
#212121
#f99E9E
#F3EBE9
#FBFBFD */

/* modal session */
.modal-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    position: fixed;
}

.modal-image {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.bck-modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #f99e9e;
    background-color: #f3ebe9;
    height: 550px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    z-index: 98;
}

.img-cover {
    height: 350px;
    width: 450px;
    object-fit: cover;
    border: 2px solid dimgray;
}

.triggerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.moreBtn {
    background-color: #f99e9e;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
